.gridviewGreen {
    width: 100%;
    background-color: #fff;
    margin: 5px 0 10px 0;
    border: solid 1px #000033;
    border-collapse: collapse;
}

    .gridviewGreen td {
        padding: 2px;
        border: solid 1px #000033;
        color: black;
    }

    .gridviewGreen th {
        padding: 4px 2px;
        color: #cb0909;
        background: #b6deb9; /* Old browsers */
        background: -moz-linear-gradient(top, #b6deb9 0%, #93d595 17%, #4fc14f 50%, #35b337 51%, #38d230 59%, #4aee34 71%, #3cb335 84%, #23812b 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b6deb9), color-stop(17%,#93d595), color-stop(50%,#4fc14f), color-stop(51%,#35b337), color-stop(59%,#38d230), color-stop(71%,#4aee34), color-stop(84%,#3cb335), color-stop(100%,#23812b)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #b6deb9 0%,#93d595 17%,#4fc14f 50%,#35b337 51%,#38d230 59%,#4aee34 71%,#3cb335 84%,#23812b 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #b6deb9 0%,#93d595 17%,#4fc14f 50%,#35b337 51%,#38d230 59%,#4aee34 71%,#3cb335 84%,#23812b 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #b6deb9 0%,#93d595 17%,#4fc14f 50%,#35b337 51%,#38d230 59%,#4aee34 71%,#3cb335 84%,#23812b 100%); /* IE10+ */
        background: linear-gradient(to bottom, #b6deb9 0%,#93d595 17%,#4fc14f 50%,#35b337 51%,#38d230 59%,#4aee34 71%,#3cb335 84%,#23812b 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6deb9', endColorstr='#23812b',GradientType=0 ); /* IE6-9 */
        border-left: solid 1px #000;
        font-size: 1.1em;
    }

    .gridviewGreen .alt {
        background: #bfffda; /* Old browsers */
        background: -moz-linear-gradient(top, #bfffda 0%, #bfffda 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bfffda), color-stop(100%,#bfffda)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #bfffda 0%,#bfffda 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #bfffda 0%,#bfffda 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #bfffda 0%,#bfffda 100%); /* IE10+ */
        background: linear-gradient(to bottom, #bfffda 0%,#bfffda 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfffda', endColorstr='#bfffda',GradientType=0 ); /* IE6-9 */
    }

    .gridviewGreen .pgr {
        background: #06b21a; /* Old browsers */
        background: -moz-linear-gradient(top, #06b21a 0%, #10c022 50%, #069a12 51%, #0a9a16 71%, #119718 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#06b21a), color-stop(50%,#10c022), color-stop(51%,#069a12), color-stop(71%,#0a9a16), color-stop(100%,#119718)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #06b21a 0%,#10c022 50%,#069a12 51%,#0a9a16 71%,#119718 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #06b21a 0%,#10c022 50%,#069a12 51%,#0a9a16 71%,#119718 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #06b21a 0%,#10c022 50%,#069a12 51%,#0a9a16 71%,#119718 100%); /* IE10+ */
        background: linear-gradient(to bottom, #06b21a 0%,#10c022 50%,#069a12 51%,#0a9a16 71%,#119718 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#06b21a', endColorstr='#119718',GradientType=0 ); /* IE6-9 */
    }

        .gridviewGreen .pgr table {
            margin: 5px 0;
        }

        .gridviewGreen .pgr td {
            border-width: 0;
            padding: 0 6px;
            border-left: solid 1px #666;
            font-weight: bold;
            color: #fff;
            line-height: 12px;
        }

        .gridviewGreen .pgr a {
            color: #666;
            text-decoration: none;
        }

            .gridviewGreen .pgr a:hover {
                color:#0B0B0B ;
                text-decoration: none;
            }

    .gridviewGreen .alt:hover, .gridviewGreen tr:hover {
      
        background: #50710D; /* Old browsers */
        background: -moz-linear-gradient(top, #50710D 0%, #3de75c 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#50710D), color-stop(100%,#3de75c)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #50710D 0%,#3de75c 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #50710D 0%,#3de75c 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #50710D 0%,#3de75c 100%); /* IE10+ */
        background: linear-gradient(to bottom, #50710D 0%,#3de75c 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#50710D', endColorstr='#3de75c',GradientType=0 ); /* IE6-9 */
        color:#0B0B0B;
        /*font-weight:bold;*/
       
    }


.gridviewBlack {
    width: 100%;
    background-color: #fff;
    margin: 5px 0 10px 0;
    border: solid 1px #000033;
    border-collapse: collapse;
}

    .gridviewBlack td {
        padding: 2px;
        border: solid 1px #000033;
        color: #000;
    }

    .gridviewBlack th {
        padding: 4px 2px;
        color: #ffffff;
        background: #959595; /* Old browsers */
        background: -moz-linear-gradient(top, #959595 0%, #0d0d0d 46%, #010101 50%, #0a0a0a 53%, #4e4e4e 76%, #383838 87%, #1b1b1b 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#959595), color-stop(46%,#0d0d0d), color-stop(50%,#010101), color-stop(53%,#0a0a0a), color-stop(76%,#4e4e4e), color-stop(87%,#383838), color-stop(100%,#1b1b1b)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* IE10+ */
        background: linear-gradient(to bottom, #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#1b1b1b',GradientType=0 ); /* IE6-9 */
        border-left: solid 1px #000;
        font-size: 1.1em;
    }

    .gridviewBlack .alt {
        background: #cedce7; /* Old browsers */
        background: -moz-linear-gradient(top, #cedce7 0%, #596a72 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cedce7), color-stop(100%,#596a72)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #cedce7 0%,#596a72 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #cedce7 0%,#596a72 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #cedce7 0%,#596a72 100%); /* IE10+ */
        background: linear-gradient(to bottom, #cedce7 0%,#596a72 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 ); /* IE6-9 */
    }

    .gridviewBlack .pgr {
        background: #4c4c4c; /* Old browsers */
        background: -moz-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(12%,#595959), color-stop(25%,#666666), color-stop(39%,#474747), color-stop(50%,#2c2c2c), color-stop(51%,#000000), color-stop(60%,#111111), color-stop(76%,#2b2b2b), color-stop(91%,#1c1c1c), color-stop(100%,#131313)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* IE10+ */
        background: linear-gradient(to bottom, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
    }

        .gridviewBlack .pgr table {
            margin: 5px 0;
        }

        .gridviewBlack .pgr td {
            border-width: 0;
            padding: 0 6px;
            border-left: solid 1px #666;
            font-weight: bold;
            color: #fff;
            line-height: 12px;
        }

        .gridviewBlack .pgr a {
            color: #666;
            text-decoration: none;
        }

            .gridviewBlack .pgr a:hover {
                color: #000;
                text-decoration: none;
            }

    .gridviewBlack .alt:hover, .gridviewBlack tr:hover {
        background: #fffef7; /* Old browsers */
        background: -moz-linear-gradient(top, #fffef7 0%, #faf2b8 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fffef7), color-stop(100%,#faf2b8)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #fffef7 0%,#faf2b8 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #fffef7 0%,#faf2b8 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #fffef7 0%,#faf2b8 100%); /* IE10+ */
        background: linear-gradient(to bottom, #fffef7 0%,#faf2b8 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffef7', endColorstr='#faf2b8',GradientType=0 ); /* IE6-9 */
    }

.gridviewRed {
    width: 100%;
    background-color: #fff;
    margin: 5px 0 10px 0;
    border: solid 1px #000033;
    border-collapse: collapse;
}

    .gridviewRed td {
        padding: 2px;
        border: solid 1px #000033;
        color: #000;
    }

    .gridviewRed th {
        padding: 4px 2px;
        color: #ffffff;
        background: rgb(235,77,63); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(235,77,63,1) 0%, rgba(185,31,7,1) 50%, rgba(242,90,52,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(235,77,63,1)), color-stop(50%,rgba(185,31,7,1)), color-stop(100%,rgba(242,90,52,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(235,77,63,1) 0%,rgba(185,31,7,1) 50%,rgba(242,90,52,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(235,77,63,1) 0%,rgba(185,31,7,1) 50%,rgba(242,90,52,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(235,77,63,1) 0%,rgba(185,31,7,1) 50%,rgba(242,90,52,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom, rgba(235,77,63,1) 0%,rgba(185,31,7,1) 50%,rgba(242,90,52,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb4d3f', endColorstr='#f25a34',GradientType=0 ); /* IE6-9 */
        border-left: solid 1px #000;
        font-size: 1.1em;
    }

    .gridviewRed .alt {
        background: rgb(254,212,212); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(254,212,212,1) 0%, rgba(254,184,184,1) 45%, rgba(255,149,149,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,212,212,1)), color-stop(45%,rgba(254,184,184,1)), color-stop(100%,rgba(255,149,149,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(254,212,212,1) 0%,rgba(254,184,184,1) 45%,rgba(255,149,149,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(254,212,212,1) 0%,rgba(254,184,184,1) 45%,rgba(255,149,149,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(254,212,212,1) 0%,rgba(254,184,184,1) 45%,rgba(255,149,149,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom, rgba(254,212,212,1) 0%,rgba(254,184,184,1) 45%,rgba(255,149,149,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fed4d4', endColorstr='#ff9595',GradientType=0 ); /* IE6-9 */
    }

    .gridviewRed .pgr {
        background: rgb(248,80,50); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248,80,50,1)), color-stop(50%,rgba(241,111,92,1)), color-stop(51%,rgba(246,41,12,1)), color-stop(71%,rgba(240,47,23,1)), color-stop(100%,rgba(231,56,39,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom, rgba(248,80,50,1) 0%,rgba(241,111,92,1) 50%,rgba(246,41,12,1) 51%,rgba(240,47,23,1) 71%,rgba(231,56,39,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=0 ); /* IE6-9 */
    }

        .gridviewRed .pgr table {
            margin: 5px 0;
        }

        .gridviewRed .pgr td {
            border-width: 0;
            padding: 0 6px;
            border-left: solid 1px #666;
            font-weight: bold;
            color: #fff;
            line-height: 12px;
        }

        .gridviewRed .pgr a {
            color: #666;
            text-decoration: none;
        }

            .gridviewRed .pgr a:hover {
                color: #000;
                text-decoration: none;
            }

    .gridviewRed .alt:hover, .gridviewRed tr:hover {
        background: rgb(242,130,91); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(242,130,91,1) 0%, rgba(229,91,43,1) 50%, rgba(240,113,70,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,130,91,1)), color-stop(50%,rgba(229,91,43,1)), color-stop(100%,rgba(240,113,70,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(242,130,91,1) 0%,rgba(229,91,43,1) 50%,rgba(240,113,70,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(242,130,91,1) 0%,rgba(229,91,43,1) 50%,rgba(240,113,70,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(242,130,91,1) 0%,rgba(229,91,43,1) 50%,rgba(240,113,70,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom, rgba(242,130,91,1) 0%,rgba(229,91,43,1) 50%,rgba(240,113,70,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2825b', endColorstr='#f07146',GradientType=0 ); /* IE6-9 */
    }


.gridviewYellow {
    width: 100%;
    background-color: #fff;
    margin: 5px 0 10px 0;
    border: solid 1px #000033;
    border-collapse: collapse;
}

    .gridviewYellow td {
        padding: 2px;
        border: solid 1px #000033;
        color: #000;
    }

    .gridviewYellow th {
        padding: 4px 2px;
        color: #000080;
        /*background: #FDD017 url(grd_head_ylw.png) repeat-x top;   */
        background: rgb(243,238,189); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(243,238,189,1) 0%, rgba(232,218,88,1) 50%, rgba(233,214,3,1) 51%, rgba(217,255,1,1) 75%, rgba(200,183,0,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(243,238,189,1)), color-stop(50%,rgba(232,218,88,1)), color-stop(51%,rgba(233,214,3,1)), color-stop(75%,rgba(217,255,1,1)), color-stop(100%,rgba(200,183,0,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(243,238,189,1) 0%,rgba(232,218,88,1) 50%,rgba(233,214,3,1) 51%,rgba(217,255,1,1) 75%,rgba(200,183,0,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(243,238,189,1) 0%,rgba(232,218,88,1) 50%,rgba(233,214,3,1) 51%,rgba(217,255,1,1) 75%,rgba(200,183,0,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(243,238,189,1) 0%,rgba(232,218,88,1) 50%,rgba(233,214,3,1) 51%,rgba(217,255,1,1) 75%,rgba(200,183,0,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom, rgba(243,238,189,1) 0%,rgba(232,218,88,1) 50%,rgba(233,214,3,1) 51%,rgba(217,255,1,1) 75%,rgba(200,183,0,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3eebd', endColorstr='#c8b700',GradientType=0 ); /* IE6-9 */
        border-left: solid 1px #000;
        font-size: 1.1em;
    }

      

    .gridviewYellow .alt {
        background: rgb(255,254,247); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(255,254,247,1) 0%, rgba(249,241,175,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,254,247,1)), color-stop(100%,rgba(249,241,175,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(255,254,247,1) 0%,rgba(249,241,175,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(255,254,247,1) 0%,rgba(249,241,175,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(255,254,247,1) 0%,rgba(249,241,175,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom, rgba(255,254,247,1) 0%,rgba(249,241,175,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffef7', endColorstr='#f9f1af',GradientType=0 ); /* IE6-9 */
    }

    .gridviewYellow .pgr {
        background: rgb(248,238,50); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(248,238,50,1) 0%, rgba(241,231,93,1) 50%, rgba(246,227,12,1) 51%, rgba(240,222,24,1) 71%, rgba(231,209,39,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248,238,50,1)), color-stop(50%,rgba(241,231,93,1)), color-stop(51%,rgba(246,227,12,1)), color-stop(71%,rgba(240,222,24,1)), color-stop(100%,rgba(231,209,39,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(248,238,50,1) 0%,rgba(241,231,93,1) 50%,rgba(246,227,12,1) 51%,rgba(240,222,24,1) 71%,rgba(231,209,39,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(248,238,50,1) 0%,rgba(241,231,93,1) 50%,rgba(246,227,12,1) 51%,rgba(240,222,24,1) 71%,rgba(231,209,39,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(248,238,50,1) 0%,rgba(241,231,93,1) 50%,rgba(246,227,12,1) 51%,rgba(240,222,24,1) 71%,rgba(231,209,39,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom, rgba(248,238,50,1) 0%,rgba(241,231,93,1) 50%,rgba(246,227,12,1) 51%,rgba(240,222,24,1) 71%,rgba(231,209,39,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8ee32', endColorstr='#e7d127',GradientType=0 ); /* IE6-9 */
    }

        .gridviewYellow .pgr table {
            margin: 5px 0;
        }

        .gridviewYellow .pgr td {
            border-width: 0;
            padding: 0 6px;
            border-left: solid 1px #666;
            font-weight: bold;
            color: #fff;
            line-height: 12px;
        }

        .gridviewYellow .pgr a {
            color: #666;
            text-decoration: none;
        }

            .gridviewYellow .pgr a:hover {
                color: #000;
                text-decoration: none;
            }

    .gridviewYellow .alt:hover, .gridviewYellow tr:hover {
        background: rgb(95,158,203); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(95,158,203,1) 0%, rgba(18,101,174,1) 50%, rgba(72,142,222,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(95,158,203,1)), color-stop(50%,rgba(18,101,174,1)), color-stop(100%,rgba(72,142,222,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(95,158,203,1) 0%,rgba(18,101,174,1) 50%,rgba(72,142,222,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(95,158,203,1) 0%,rgba(18,101,174,1) 50%,rgba(72,142,222,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(95,158,203,1) 0%,rgba(18,101,174,1) 50%,rgba(72,142,222,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom, rgba(95,158,203,1) 0%,rgba(18,101,174,1) 50%,rgba(72,142,222,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f9ecb', endColorstr='#488ede',GradientType=0 ); /* IE6-9 */
    }

.gridviewBlue {
    width: 100%;
    background-color: #fff;
    margin: 5px 0 10px 0;
    border: solid 1px #000033;
    border-collapse: collapse;
}

    .gridviewBlue td {
        padding: 2px;
        border: solid 1px #000033;
        color: #000;
    }

    .gridviewBlue th {
        padding: 4px 2px;
        color: #fff;
        /*background: #424242 url(grd_head.png) repeat-x top;   */
        background: #337ab7; /* Old browsers */
        background: -moz-linear-gradient(top, #337ab7 0%, #337ab7 50%, #337ab7 51%, #337ab7 75%, #337ab7 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#337ab7), color-stop(50%,#337ab7), color-stop(51%,#337ab7), color-stop(75%,#337ab7), color-stop(100%,#337ab7)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #337ab7 0%,#337ab7 50%,#337ab7 51%,#337ab7 75%,#337ab7 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #337ab7 0%,#337ab7 50%,#337ab7 51%,#337ab7 75%,#337ab7 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #337ab7 0%,#337ab7 50%,#337ab7 51%,#337ab7 75%,#337ab7 100%); /* IE10+ */
        background: linear-gradient(to bottom, #337ab7 0%,#337ab7 50%,#337ab7 51%,#337ab7 75%,#337ab7 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9bdf3', endColorstr='#2f00c8',GradientType=0 ); /* IE6-9 */
        border-left: solid 1px #000;
        font-size: 1.1em;
    }

    .gridviewBlue .alt {
        background: rgb(235,241,246); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(235,241,246,1) 0%, rgba(171,211,238,1) 50%, rgba(137,195,235,1) 51%, rgba(213,235,251,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(235,241,246,1)), color-stop(50%,rgba(171,211,238,1)), color-stop(51%,rgba(137,195,235,1)), color-stop(100%,rgba(213,235,251,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom, rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#d5ebfb',GradientType=0 ); /* IE6-9 */
    }



    .gridviewBlue .pgr {
        background: rgb(50,60,248); /* Old browsers */
        background: -moz-linear-gradient(top, #337ab7 0%, #337ab7 50%, #337ab7 51%, #337ab7 71%, #337ab7 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#337ab7), color-stop(50%,#337ab7), color-stop(51%,#337ab7), color-stop(71%,#337ab7), color-stop(100%,#337ab7)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #337ab7 0%,#337ab7 50%,#337ab7 51%,#337ab7 71%,#337ab7 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #337ab7 0%,#337ab7 50%,#337ab7 51%,#337ab7 71%,#337ab7 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #337ab7 0%,#337ab7 50%,#337ab7 51%,rgba(24,42,240,1) 71%,#337ab7 100%); /* IE10+ */
        background: linear-gradient(to bottom, #337ab7 0%,#337ab7 50%,#337ab7 51%,#337ab7 71%,#337ab7 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#323cf8', endColorstr='#273de7',GradientType=0 ); /* IE6-9 */
    }

        .gridviewBlue .pgr table {
            margin: 5px 0;
        }

        .gridviewBlue .pgr td {
            border-width: 0;
            padding: 0 6px;
            border-left: solid 1px #666;
            font-weight: bold;
            color: #fff;
            line-height: 12px;
        }

        .gridviewBlue .pgr a {
            color: #666;
            text-decoration: none;
        }

            .gridviewBlue .pgr a:hover {
                color: #000;
                text-decoration: none;
            }

    .gridviewBlue .alt:hover, .gridviewBlue tr:hover {
        /* background: #FFD801; */
        background: -moz-linear-gradient(top, rgba(254,252,234,1) 0%, rgba(241,218,54,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,252,234,1)), color-stop(100%,rgba(241,218,54,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(254,252,234,1) 0%,rgba(241,218,54,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(254,252,234,1) 0%,rgba(241,218,54,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(254,252,234,1) 0%,rgba(241,218,54,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom, rgba(254,252,234,1) 0%,rgba(241,218,54,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=0 ); /* IE6-9 */
        font-weight: bold;
    }

.gridviewOrange {
    width: 100%;
    background-color: #fff;
    margin: 5px 0 10px 0;
    border: solid 1px #000033;
    border-collapse: collapse;
}

    .gridviewOrange td {
        padding: 2px;
        border: solid 1px #000033;
        color: #000;
    }

    .gridviewOrange th {
        padding: 4px 2px;
        color: #000000;
        background: rgb(246,154,34); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(246,154,34,1) 0%, rgba(177,110,3,1) 50%, rgba(249,179,27,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,154,34,1)), color-stop(50%,rgba(177,110,3,1)), color-stop(100%,rgba(249,179,27,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(246,154,34,1) 0%,rgba(177,110,3,1) 50%,rgba(249,179,27,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(246,154,34,1) 0%,rgba(177,110,3,1) 50%,rgba(249,179,27,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(246,154,34,1) 0%,rgba(177,110,3,1) 50%,rgba(249,179,27,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom, rgba(246,154,34,1) 0%,rgba(177,110,3,1) 50%,rgba(249,179,27,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f69a22', endColorstr='#f9b31b',GradientType=0 ); /* IE6-9 */
        border-left: solid 1px #000;
        font-size: 1.1em;
    }

    .gridviewOrange .alt {
        background: rgb(250,246,196); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(250,246,196,1) 0%, rgba(255,228,185,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(250,246,196,1)), color-stop(100%,rgba(255,228,185,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(250,246,196,1) 0%,rgba(255,228,185,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(250,246,196,1) 0%,rgba(255,228,185,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(250,246,196,1) 0%,rgba(255,228,185,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom, rgba(250,246,196,1) 0%,rgba(255,228,185,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faf6c4', endColorstr='#ffe4b9',GradientType=0 ); /* IE6-9 */
    }

    .gridviewOrange .pgr {
        background: #06b21a; /* Old browsers */
        background: -moz-linear-gradient(top, #06b21a 0%, #10c022 50%, #069a12 51%, #0a9a16 71%, #119718 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#06b21a), color-stop(50%,#10c022), color-stop(51%,#069a12), color-stop(71%,#0a9a16), color-stop(100%,#119718)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #06b21a 0%,#10c022 50%,#069a12 51%,#0a9a16 71%,#119718 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #06b21a 0%,#10c022 50%,#069a12 51%,#0a9a16 71%,#119718 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #06b21a 0%,#10c022 50%,#069a12 51%,#0a9a16 71%,#119718 100%); /* IE10+ */
        background: linear-gradient(to bottom, #06b21a 0%,#10c022 50%,#069a12 51%,#0a9a16 71%,#119718 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#06b21a', endColorstr='#119718',GradientType=0 ); /* IE6-9 */
    }

        .gridviewOrange .pgr table {
            margin: 5px 0;
        }

        .gridviewOrange .pgr td {
            border-width: 0;
            padding: 0 6px;
            border-left: solid 1px #666;
            font-weight: bold;
            color: #fff;
            line-height: 12px;
        }

        .gridviewOrange .pgr a {
            color: #666;
            text-decoration: none;
        }

            .gridviewOrange .pgr a:hover {
                color: #000;
                text-decoration: none;
            }

    .gridviewOrange .alt:hover, .gridviewOrange tr:hover {
        background: rgb(255,197,120); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(255,197,120,1) 0%, rgba(251,157,35,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,197,120,1)), color-stop(100%,rgba(251,157,35,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(255,197,120,1) 0%,rgba(251,157,35,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(255,197,120,1) 0%,rgba(251,157,35,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(255,197,120,1) 0%,rgba(251,157,35,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom, rgba(255,197,120,1) 0%,rgba(251,157,35,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc578', endColorstr='#fb9d23',GradientType=0 ); /* IE6-9 */
    }


.gridviewGray {
    width: 100%;
    background-color: #fff;
    margin: 5px 0 10px 0;
    border: solid 1px #000033;
    border-collapse: collapse;
}

    .gridviewGray td {
        padding: 2px;
        border: solid 1px #000033;
        color: #000;
    }

    .gridviewGray th {
        padding: 4px 2px;
        color: #000000;
        background: rgb(238,238,238); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
        border-left: solid 1px #000;
        font-size: 1.1em;
    }

    .gridviewGray .alt {
        background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
    }

    .gridviewGray .pgr {
        background: #06b21a; /* Old browsers */
        background: -moz-linear-gradient(top, #06b21a 0%, #10c022 50%, #069a12 51%, #0a9a16 71%, #119718 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#06b21a), color-stop(50%,#10c022), color-stop(51%,#069a12), color-stop(71%,#0a9a16), color-stop(100%,#119718)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #06b21a 0%,#10c022 50%,#069a12 51%,#0a9a16 71%,#119718 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #06b21a 0%,#10c022 50%,#069a12 51%,#0a9a16 71%,#119718 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #06b21a 0%,#10c022 50%,#069a12 51%,#0a9a16 71%,#119718 100%); /* IE10+ */
        background: linear-gradient(to bottom, #06b21a 0%,#10c022 50%,#069a12 51%,#0a9a16 71%,#119718 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#06b21a', endColorstr='#119718',GradientType=0 ); /* IE6-9 */
    }

        .gridviewGray .pgr table {
            margin: 5px 0;
        }

        .gridviewGray .pgr td {
            border-width: 0;
            padding: 0 6px;
            border-left: solid 1px #666;
            font-weight: bold;
            color: #fff;
            line-height: 12px;
        }

        .gridviewGray .pgr a {
            color: #666;
            text-decoration: none;
        }

            .gridviewGray .pgr a:hover {
                color: #000;
                text-decoration: none;
            }

    .gridviewGray .alt:hover, .gridviewGray tr:hover {
        background: rgb(245,246,246); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(245,246,246,1) 0%, rgba(219,220,226,1) 21%, rgba(184,186,198,1) 49%, rgba(221,223,227,1) 80%, rgba(245,246,246,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 ); /* IE6-9 */
    }


th.sortasc a {
}

th.sortdesc a {
    display: block;
    padding: 0 4px 0 15px;
    background: url(images/descblue.png) no-repeat;
}
